/**************************************************
 * Application: EnigmaV                           *
 * Author: Johnny L. de Alba                      *
 * Date: 09/08/2013                               *
 **************************************************/

.message\.highlight,
.message\.utube  {
  display: block;
  margin: 10px auto 10px auto;
  width: 320px; }

.message\.utube { height: 240px; }

.message\.rating {
  float: left;
  font-weight: bold;
  text-align: center;
  width: 32px; }

.message\.avatar32 {
  float: left;
  height: 32px;
  width: 32px; }

.message\.caption {
  overflow: auto;
  margin-left: 72px;
  word-wrap:break-word; }
  
.message\.title {
  color: #444455;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px; }
  
.message\.date { font-size: 11px; margin-bottom: 5px; }

.message\.body {
  font-size: 12px;
  font-style: italic;
  margin: 5px 10px 0px 32px;
  word-wrap: break-word; }
  
.component { width: 340px; margin: 0px 20px 20px 20px; }

.component\.header a:link, 
.component\.header a:visited, 
.component\.header a:active  {
  color: #aa0000; }

.component\.header {
  background-color: #ddddee;
  border: 1px solid #bbbbcc;
  border-radius: 3px 3px 0px 0px;
  color: #444455;
  font-size: 10px;
  overflow: auto;
  padding: 5px;
  text-transform:uppercase; }
  
.component\.body {

  background-color: #ddddee;
  border: 1px solid #bbbbcc;
  border-width: 0px 1px 0px 1px;
  border-radius: 0px;
  color: #444455;
  height: 400px;
  overflow: auto;
  padding: 5px; }
  
.component\.footer {
  background-color: #444455;
  border: 1px solid #666677;
  border-radius: 0px 0px 3px 3px;
  color: #444455;
  font-size: 10px;
  overflow: auto;
  padding: 5px;
  text-align: right;
  text-transform:uppercase; }